.flex-container {
    display: flex;
    border: 10px solid green;
    justify-content: center;
    width: 200px;
}
.box1 {
    width: 10vw;
    background-color: blue;
}
.box2 {
    width: 10vw;
    background-color: chocolate;
}
.box3 {
    width: 10vw;
    background-color: aqua;
}
.box4 {
    width: 10vw;
    background-color: wheat;
}
.box5 {
    width: 10vw;
    background-color: teal;
}
.box6 {
    width: 10vw;
    background-color: red;
}
.box7 {
    width: 10vw;
    background-color: darkmagenta;
}
.box8 {
    width: 10vw;
    background-color: gold;
}